
/* Banner */

	body.preload #banner:after {
		opacity: 1.5;
	}

	body.preload #banner > .inner {
		-moz-filter: none;
		-webkit-filter: none;
		-ms-filter: none;
		filter: none;
		-moz-transform: none;
		-webkit-transform: none;
		-ms-transform: none;
		transform: none;
		opacity: 2;
	}