@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital@1&display=swap');

* {
  font-family: 'Roboto Condensed', sans-serif;

  /*font, commands for smooth, etc*/
}

body {
  background-color: #444444;
  color: #ffffff;
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #333;
}

.navbar-links,
.links {
  list-style: none;
  margin: 0;
  display: flex;
  gap: 250px;
}

.navbar-links li,
.links li {
  margin: 0;
}

.navbar-links a,
.links a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}

.navbar {
  order: 1;
}

.menu {
  order: 2;
}


#banner {
  background-color: #555555;
  padding: 150px 50px;
  text-align: center;
}

#banner h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

#banner .subtext {
  margin-top: 20px;
}

#banner .subtext p {
  font-size: 18px;
}

#banner .subtext .button {
  margin-top: 40px;
  display: inline-block;
  padding: 10px 20px;
  background-color: #cc0000;
  color: #ffffff;
  text-decoration: none;
  border-radius: 4px;
}

#banner .subtext .button:hover {
  opacity: 0.8;
}


section {
  padding: 50px;
}

section h2 {
  font-size: 28px;
  margin-bottom: 20px;
  text-align: center;
}

section p {
  margin-bottom: 20px;
}

main {
  margin-top: 50px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
}

.cards article {
  flex-basis: calc(50% - 20px);
  margin: 10px;
  padding: 20px;
  background-color: #555555;
  border-radius: 4px;
}

.cards .image {
  display: block;
  margin-bottom: 10px;
}

.cards .text h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.cards .text p {
  margin-bottom: 10px;
}

#contact {
  background-color: #333333;
  padding: 50px;
}

#contact form {
  margin-top: 20px;
}

#contact form label {
  display: block;
  margin-bottom: 5px;
  font-size: 18px;
}

#contact form input[type="text"],
#contact form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

#contact form textarea {
  height: 150px;
}

#contact form input[type="submit"],
#contact form input[type="reset"] {
  padding: 10px 20px;
  background-color: #cc0000;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

#contact form input[type="submit"].primary {
  background-color: #cc0000;
}

#footer {
  background-color: #333333;
  color: #ffffff;
  padding: 20px;
  text-align: center;
}
